## Pandas Tutorial

### Grouping and Aggregating - Analyzing and Exploring Your Data

 - **Source:** Corey Schafer - [Python Pandas Playlist](https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

In [1]:
import pandas as pd

### Loading StackOverflow survey results CSV into DataFrame

In [2]:
df = pd.read_csv("./data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("./data/survey_results_schema.csv", index_col="qname")

In [3]:
pd.set_option("display.max_columns", df.shape[1])

In [4]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [5]:
df["ConvertedCompYearly"].head(10)

ResponseId
1     62268.0
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10    51552.0
Name: ConvertedCompYearly, dtype: float64

### Use `median()` to find median of a column / series

- **median** is the middle number in a sorted list of numbers.

In [6]:
df["ConvertedCompYearly"].median()

56211.0

In [7]:
df.median()

<ipython-input-7-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [8]:
df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

### Calculate `median` over `mean` if there are outliers in the data

- mean is the average of numbers in the list.
- median is the middle number in the sorted list.
- **Outlier** is some data point that differs from other observations.
- Outlier is the specific data (can be high or low data) relative to the rest of the data. Like some persons have entered fake (high) salary, which can effect our rest of the data. So mean will include that salary while calculated. But, median doesn't include it.

### Use `count()` to count the number of `non-NAN` values in the Series / dataframe

In [9]:
df["ConvertedCompYearly"].count()

46844

### Use `value_counts()` to count total number of specific values in a series

In [10]:
df["SurveyLength"].value_counts()

Appropriate in length    64514
Too long                 13087
Too short                 4110
Name: SurveyLength, dtype: int64

### To get the percentage from `value_counts()` rather than numbers, set `normalize=True`

In [11]:
df["OpSys"].value_counts(normalize=True)

Windows                              0.453310
Linux-based                          0.253175
MacOS                                0.251927
Windows Subsystem for Linux (WSL)    0.032932
Other (please specify):              0.006903
BSD                                  0.001753
Name: OpSys, dtype: float64

### We can use `groupby()` to group results into a certain group

In [12]:
df["Country"].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [13]:
country_grp = df.groupby(["Country"])

In [14]:
country_grp.get_group("India")

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,"Developer, front-end",20 to 99 employees,INR\tIndian rupee,2000000.0,Yearly,HTML/CSS;JavaScript;TypeScript,JavaScript;Node.js,NaN,NaN,AWS;Microsoft Azure,AWS,Angular;React.js,Gatsby;React.js;Svelte;Vue.js,React Native,NaN,Git;Yarn,Git;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Python,C;C#;C++;HTML/CSS;JavaScript;Python;Rust;SQL;T...,MySQL,MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy,.NET Framework;Flutter;NumPy;React Native;Tens...,Git,Deno;Docker;Git,PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,NaN,NaN,NaN,NaN,NaN,C++;JavaScript;Python;TypeScript,C++;JavaScript;Python;TypeScript,MongoDB;PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,Heroku,Heroku,Express;React.js,Express;React.js,Keras;NumPy;TensorFlow,Keras;NumPy;TensorFlow,Docker;Git;Unreal Engine,Docker;Git;Unreal Engine,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter;PyCharm;Vim;Visual Studio;Visu...,Windows,Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,"Developer, back-end",100 to 499 employees,INR\tIndian rupee,3500000.0,Yearly,Java;JavaScript;SQL,Go;Java;Kotlin;Node.js;SQL,MySQL,Cassandra;Elasticsearch;Redis,AWS,AWS;Google Cloud Platform,Spring,Spring,NaN,NaN,Docker;Git,Ansible;Docker;Git;Kubernetes;Terraform,Eclipse;Sublime Text;Visual Studio Code,Eclipse;IntelliJ;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;C++;Java;SQL,Bash/Shell;C++;SQL,PostgreSQL;SQLite,PostgreSQL,AWS,Google Cloud Platform;Microsoft Azure,Spring,jQuery;Spring,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;Vim;Visual Studio Code,IntelliJ;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Yes,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [15]:
# This is the same as above
df[df["Country"]=="India"]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,6,"Developer, front-end",20 to 99 employees,INR\tIndian rupee,2000000.0,Yearly,HTML/CSS;JavaScript;TypeScript,JavaScript;Node.js,NaN,NaN,AWS;Microsoft Azure,AWS,Angular;React.js,Gatsby;React.js;Svelte;Vue.js,React Native,NaN,Git;Yarn,Git;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Python,C;C#;C++;HTML/CSS;JavaScript;Python;Rust;SQL;T...,MySQL,MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy,.NET Framework;Flutter;NumPy;React Native;Tens...,Git,Deno;Docker;Git,PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,"No, not really",Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,NaN,NaN,NaN,NaN,NaN,NaN,C++;JavaScript;Python;TypeScript,C++;JavaScript;Python;TypeScript,MongoDB;PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,Heroku,Heroku,Express;React.js,Express;React.js,Keras;NumPy;TensorFlow,Keras;NumPy;TensorFlow,Docker;Git;Unreal Engine,Docker;Git;Unreal Engine,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter;PyCharm;Vim;Visual Studio;Visu...,Windows,Google it;Panic,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,5,"Developer, back-end",100 to 499 employees,INR\tIndian rupee,3500000.0,Yearly,Java;JavaScript;SQL,Go;Java;Kotlin;Node.js;SQL,MySQL,Cassandra;Elasticsearch;Redis,AWS,AWS;Google Cloud Platform,Spring,Spring,NaN,NaN,Docker;Git,Ansible;Docker;Git;Kubernetes;Terraform,Eclipse;Sublime Text;Visual Studio Code,Eclipse;IntelliJ;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;C++;Java;SQL,Bash/Shell;C++;SQL,PostgreSQL;SQLite,PostgreSQL,AWS,Google Cloud Platform;Microsoft Azure,Spring,jQuery;Spring,NaN,NaN,Docker;Git,Docker;Git,IntelliJ;Vim;Visual Studio Code,IntelliJ;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Yes,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [16]:
# How many people use which operating system
# based on each country or group by each country
country_grp["OpSys"].value_counts().head(20)

Country      OpSys
Afghanistan  Windows                              28
             Linux-based                          18
             MacOS                                 6
             Other (please specify):               6
             BSD                                   2
             Windows Subsystem for Linux (WSL)     1
Albania      Windows                              43
             Linux-based                          16
             MacOS                                 7
             Windows Subsystem for Linux (WSL)     2
             BSD                                   1
             Other (please specify):               1
Algeria      Windows                              26
             Linux-based                          13
             MacOS                                 4
             BSD                                   1
             Other (please specify):               1
             Windows Subsystem for Linux (WSL)     1
Andorra      Linux-based                           6
             Windows                               2
Name: OpSys, dtype: int64

In [17]:
# How many developers in India use which Operating System
df.loc[df["Country"]=="India"]["OpSys"].value_counts()

Windows                              5568
Linux-based                          2554
MacOS                                2045
Windows Subsystem for Linux (WSL)     254
Other (please specify):                53
BSD                                    10
Name: OpSys, dtype: int64

In [18]:
# How many developers in India use which Operating System using groupby
country_grp["OpSys"].value_counts().loc["India"]

OpSys
Windows                              5568
Linux-based                          2554
MacOS                                2045
Windows Subsystem for Linux (WSL)     254
Other (please specify):                53
BSD                                    10
Name: OpSys, dtype: int64

In [19]:
df.rename(columns={"ConvertedCompYearly": "Salary"}, inplace=True)

In [20]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'Salary'],
      dtype='object')

In [21]:
# Median salary of Indian Developers
country_grp["Salary"].median().loc["India"]

14748.0

In [22]:
# Median Salary of US Developer
country_grp["Salary"].median().loc["United States of America"]

125000.0

### Use `agg()` to do more than one operation

In [23]:
country_grp["Salary"].agg(["median", "mean", "count", "max", "min"])

,median,mean,count,max,min
Country,,,,,
Afghanistan,9792.0,2.794748e+06,11,30468516.0,100.0
Albania,15900.0,4.499814e+04,35,692042.0,48.0
Algeria,9875.0,1.446114e+04,14,48550.0,3828.0
Andorra,94045.5,8.928200e+04,4,146981.0,22056.0
Angola,9750.0,2.155680e+04,10,96000.0,1212.0
...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",12000.0,2.246505e+04,62,229596.0,353.0
Viet Nam,12678.0,1.995289e+04,148,258744.0,1000.0
Yemen,3954.0,5.628667e+03,6,19176.0,100.0
Zambia,9816.0,1.991491e+04,11,105000.0,4056.0
Zimbabwe,7200.0,1.141477e+04,13,36000.0,120.0

In [24]:
# Getting Aggregate values of a specific country
country_grp["Salary"].agg(["mean", "median", "count", "min", "max"]).loc["India"]

mean      4.252258e+04
median    1.474800e+04
count     3.834000e+03
min       1.200000e+01
max       2.000000e+07
Name: India, dtype: float64

In [25]:
# Use 'str.contains' to find a specific value in a series
df[df["Country"]=="India"]["LanguageHaveWorkedWith"].str.contains("Python")

ResponseId
9        False
23        True
40        True
50        True
53        True
         ...
83400    False
83407     True
83411     True
83412    False
83418    False
Name: LanguageHaveWorkedWith, Length: 10511, dtype: object

In [26]:
# Counting total number of Indian Developers who know Python
df[df["Country"]=="India"]["LanguageHaveWorkedWith"].str.contains("Python").sum()

5233

### Using `apply()` on Series Groupby object, to apply a specific function

In [27]:
country_grp["LanguageHaveWorkedWith"].apply(lambda series: series.str.contains("Python").sum()).loc["India"]

5233

### What percentage of people in each country knows Python

In [28]:
no_of_response = df["Country"].value_counts()
no_of_response

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [29]:
country_use_python = country_grp["LanguageHaveWorkedWith"].apply(lambda series: series.str.contains("Python").sum())
country_use_python

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [30]:
solution_df = pd.concat([no_of_response, country_use_python], axis="columns")
solution_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [31]:
solution_df.rename(columns={"Country": "TotalRespondents", "LanguageHaveWorkedWith": "KnowsPython"}, inplace=True)
solution_df

,TotalRespondents,KnowsPython
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Saint Kitts and Nevis,1,0
Dominica,1,1
Saint Vincent and the Grenadines,1,0
Tuvalu,1,1
Papua New Guinea,1,0

In [32]:
# Calculating the % 
solution_df["Percentage"] = round(solution_df.KnowsPython / solution_df.TotalRespondents * 100, 2)
solution_df

,TotalRespondents,KnowsPython,Percentage
United States of America,15288,7975,52.17
India,10511,5233,49.79
Germany,5625,2713,48.23
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.02
Canada,3012,1593,52.89
...,...,...,...
Saint Kitts and Nevis,1,0,0.00
Dominica,1,1,100.00
Saint Vincent and the Grenadines,1,0,0.00
Tuvalu,1,1,100.00
Papua New Guinea,1,0,0.00

In [33]:
solution_df.sort_values(by=["Percentage", "TotalRespondents"], ascending=[False, False], inplace=True)
solution_df

                                  TotalRespondents  KnowsPython  Percentage
Sierra Leone                                     2            2       100.0
Brunei Darussalam                                1            1       100.0
Liechtenstein                                    1            1       100.0
Dominica                                         1            1       100.0
Tuvalu                                           1            1       100.0
...                                            ...          ...         ...
Monaco                                           2            0         0.0
Mali                                             2            0         0.0
Saint Kitts and Nevis                            1            0         0.0
Saint Vincent and the Grenadines                 1            0         0.0
Papua New Guinea                                 1            0         0.0

[181 rows x 3 columns]

In [34]:
solution_df.loc["India"]

TotalRespondents    10511.00
KnowsPython          5233.00
Percentage             49.79
Name: India, dtype: float64

In [35]:
solution_df.loc["China"]

TotalRespondents    1055.00
KnowsPython          495.00
Percentage            46.92
Name: China, dtype: float64

In [36]:
solution_df.loc["United States of America"]

TotalRespondents    15288.00
KnowsPython          7975.00
Percentage             52.17
Name: United States of America, dtype: float64